html * {
    margin: 0;
    /*padding: 0; SELECT NOT DISPLAYED CORRECTLY IN FIREFOX */
}

/* GENERAL */
div.pageContent{
    padding: 10px 20px;
}
div.menuBar{
    padding: 10px 20px;
}
.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}

body {
    background: #fff;
    color: #333;
    font: 11px verdana, arial, helvetica, sans-serif;
}

a:link, a:visited{
    color: black;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    text-decoration:underline;
}
a.loginlink{
    color:blue;
    text-decoration:underline;
    font-weight:normal;
}
span.link{
    color:black;
    font-weight:bold;
    text-decoration:none;
}
span.link:hover{
    cursor:pointer;
    text-decoration:underline;
}
a.action, span.link.action{
    color:blue;
    font-weight:normal;
    text-decoration:underline;
    padding:3px;
}
a.action:hover, span.link.action:hover{
    background-color:#ddf;
}
a.action.selected, span.link.action.selected{
    background-color:#eee;
    border: 1px solid #ddd;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

span.link.create,a.link.create{
    background-image: url(../images/skin/add.png) ;
    background-position: 4px;
    background-repeat:no-repeat;
    padding-left:25px;
}
span.link.edit,a.link.edit {
    background-image: url(../images/skin/pencil.png) ;
    background-position: 4px;
    background-repeat:no-repeat;
    padding:3px 3px 3px 25px;
}
img {
    border-style: none;
    vertical-align:middle;
}
h1 {
    color: #006dba;
    font-weight: normal;
    font-size: 16px;
    margin: .8em 0 .3em 0;
}
div.clear, span.clear{
    clear:both;
}
table {
    border-collapse: collapse;
}

td.toollink{
    text-align:center;
    padding:0;
}
td.toollink a.maintool{
    padding: 20px 10px;
    display: block;
    text-align:center;
}
td.toollink a.maintool:hover{
    background:#ddf;
}
td.toollink a.maintool img{

    vertical-align: middle;
    text-align:center;
}
td.toollink a.maintool span{
    display:block;
    text-align:center;
}
td.toollink a.maintool span.title{
    font-size:11pt;
    margin-top:10px;
    text-decoration:none;    
}
td.toollink a.maintool span.info{
}
td.toollink a.maintool:hover span.info{
    text-decoration:none;
}

ul {
    padding-left: 15px;	
}

input.button, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    font: 11px verdana, arial, helvetica, sans-serif;
    margin: 2px 0;
    padding: 2px 4px;
}
select {
   padding: 2px 2px 2px 0;
}
textarea {
	width: 250px;
	height: 50px;
	vertical-align: top;
}


.body {
    float: left;
    margin: 0 15px 10px 15px;
}

/* NAVIGATION MENU */

.nav {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-style: solid none solid none;	
    margin-top: 5px;
    padding: 7px 12px;
}

.menuButton {
    font-size: 10px;
    padding: 5px;
}
.menuButton a {
    color: #333;
    padding: 4px 6px;
}
.menuButton a.home {
    background: url(../images/skin/house.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.list {
    background: url(../images/skin/application_view_list.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.create {
    background: url(../images/skin/add.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

.menuButton a.score {
    background: url(../images/scorecard-tiny.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

/* MESSAGES AND ERRORS */

.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}
div.errors ul {
    list-style: none;
    padding: 0;	
}
div.errors li {
	background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

td.errors select {
    border: 1px solid red;
}
td.errors input {
    border: 1px solid red;
}
/* INFO */

.info{
    padding:5px;
    
}
.info.note{
    color:#888;
}
.info.warn{
    color:red
}
/* TABLES */

table {
    border: 1px solid #ccc;
    width: 100%
}
tr {
    border: 0;
}
tr.hilite{
    background: #ff8;
}
td, th {
    font: 11px verdana, arial, helvetica, sans-serif;
    line-height: 12px;
    padding: 5px 6px;
    text-align: left;
    vertical-align: top;
}
th {
    background: #fff url(../images/skin/shadow.jpg);
    color: #666;
    /*font-size: 11px;*/
    font-weight: bold;
    line-height: 1.5em;
    padding: 2px 6px;
}
th a:link, th a:visited, th a:hover {
    /*color: #333;*/
    display: block;
    font-size: 10px;
    text-decoration: none;
    width: 100%;
}
th.asc a, th.desc a {
    background-position: right;
    background-repeat: no-repeat;
}
th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}
th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
    background: #f7f7f7;
}
.even {
    background: #fff;
}

table.summary th{
    background: #fff;
    text-align:right;
    font-weight:normal;

}
table.summary td.empty{
    color: #888;
    font-style:italic;
}
/* LIST */

.list th:hover, .list tr:hover {
    background: #b2d1ff;
}

/* PAGINATION */

.paginateButtons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-top: 0;
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 3px;
}
.paginateButtons a {
    background: #fff;
    border: 1px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;
    color: #666;
    margin: 0 3px;
    padding: 2px 6px;
}
.paginateButtons span {
    padding: 2px 3px;
}

/* time */
span.until{
    color: green;
}
span.ago{
    color: gray;    
}

/* DIALOG */

div.dialog {
    width:600px;
}
div.dialog.login{
    width:450px;
    
    top:0;
    margin: 10px auto 0 auto;

}
.dialog table {
    padding: 5px 0;
}

.prop {
    padding: 5px;
}
.prop .name {
    text-align: right;
    width: 15%;
    white-space: nowrap;
}
.prop .name.empty {
    color: #888;
}
.prop .name.errors{
    color:red;
}
.prop .bname {
    text-align: right;
    white-space: nowrap;
}
.prop .bname.empty {
    color: #888;
}
.prop .bname.errors{
    color:red;
}

.prop .value {
    text-align: left;
    width: 85%;
}

div.formtitle{
    padding:5px 5px 5px 15px;
    font-size:150%;
    border:1px solid #ccc;
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    color: #666;
}

div.dialog h3, div.view h3{
    padding:5px 5px 5px 10px;
    font-size:100%;
    
    border:1px solid #ccc;
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    color: #666;
}
div.dialog h3.sub, div.view h3.sub{
    background: #e0e0e0;
    padding-left:20px;
}
div.dialog h3.section, div.view h3.section{
    font-style:italic;
    font-weight:normal;
}
div.dialog div.section, div.view div.section{
    padding:5px 5px 5px 15px;
    border:1px solid #ccc;
    color: #666;
}

/* service scorecard view */


td.scoresummary{
    text-align:right;
    line-height:150%;
    width: 200px;
}
td.scoresummary span.value{
    display:block;
    font-size:150%;
}
td.scoresummary span.value.good{
    color:green;
}
td.scoresummary span.value.bad{
    color:red;
}
td.scoresummary span.value.medium{
    color:orange;
}
td.scoresummary span.value.ok{
    color:yellow;
}
td.scoresummary span.title{
    display:block;
    font-weight:bold;
    font-size:110%;
}
td.scoresummary span.goal{
    display:block;
    font-size:110%;
}

dt{
    font-weight:bold;
}
dd{
    margin-left: 10px;
}
div.body.scoretable h2{
    color: #888;
}
div.body.scoretable h2 a{
    color: #888;
}
div.body.scoretable h3{
    color: #6dba6d;
}
div.body.scoretable h1,div.body.scoretable h2,div.body.scoretable h3,div.body.scoretable div.datenav{
    margin:0.5em 0;
}
div.body.scoretable td.emptyAudit{
    color: #888;
}
div.body.scoretable td.best{
    background: #afa;
    font-weight:bold;
}
div.body.scoretable td.worst{
    background: #faa;
    font-weight:bold;
}
div.body.scoretable{
    float:left;
    width:900px;
}
div.body.scoretable th{
    background: #eee;
    border:1px solid #ccc;
}
td.cardlink{
    padding:0;
}
td.cardlink a{
    padding:5px 5px 5px 5;
    display:block;
    color: #008;
}
td.cardlink a .subtitle{
    color: #000;
    font-weight:normal;
}
td.cardlink a:hover{
    text-decoration:none;
    background: #ddf;
}
td.cardlink.processreceipt.successful a{
    padding:5px 5px 5px 26px;
    background: #fff url(../images/skin/tick.png) 5px 5px no-repeat;
}
td.cardlink.processreceipt.successful a:hover{
    text-decoration:none;
    background: #ddf url(../images/skin/tick.png) 5px 5px no-repeat;
}
td.cardlink.processreceipt.aborted a{
    padding:5px 5px 5px 26px;
    background: #fff url(../images/skin/error.png) 5px 5px no-repeat;
}
td.cardlink.processreceipt.aborted a:hover{
    text-decoration:none;
    background: #ddf url(../images/skin/error.png) 5px 5px no-repeat;
}
td.cardlink.processreceipt.withdrawn a{
    padding:5px 5px 5px 26px;
    background: #fff url(../images/skin/cancel.png) 5px 5px no-repeat;
}
td.cardlink.processreceipt.withdrawn a:hover{
    text-decoration:none;
    background: #ddf url(../images/skin/cancel.png) 5px 5px no-repeat;
}

/* VIEW */
div.view {
    width:600px;
}
div.view div.header{
    border: 1px solid #ccc;
    padding:10px;
    background: #eee;
}
div.view div.header.audit{
    background: #dfd;
}
div.view div.header.service{
    background: #eef;
    padding:0;
}
div.view div.header.service div.content{
    padding:10px;
}
div.view div.header.availabilityReceipt{
    background: #ffd;
}
div.header span.name{
    font-size: 125%;
}
div.header.availabilityReceipt span.service{
    font-size: 125%;
    
}
div.header.availabilityReceipt span.level{
    font-size: 125%;
    color:#f80;
}
div.header.availabilityReceipt span.impact{
    display:block;
}
div.header.availabilityReceipt span.duration{
    font-size: 125%;
    font-style:italic;
}
div.header span.type{
    font-weight:normal;
    font-size: 125%;
}
div.header span.desc{
    color: #aaa;
    display:block;
}
div.header span.author a{
    font-weight:normal;
    font-size:125%;
}
div.header span.date{
    color: #888;
    font-style:italic;
    display:block;
}
div.view div.header + table{
    border-top: 0;
}
div.view table + h3{
    border-top: 0;
}
div.view h3+table{
    border-top: 0;
}
div.view table + div.section{
    border-top: 0;
}
div.view div.section + h3{
    border-top: 0;
}
div.view h3 + div.section{
    border-top: 0;
}
div.view h3 + div.header{
    border-top: 0;
}
div.view div.header + h3{
    border-top: 0;
}
div.view h3 + h3{
    border-top: 0;
}
div.view div.header.service div.content div.detail{
    float:left;
    margin-right:100px;
}
div.view div.header.service div.context-links{
    float:right;
    
    text-align:right;
}
div.view div.header.service:hover  div.context-links{
}
div.view div.header.service div.context-links a{
    font-size: 90%;
    
    display:block;
    border:1px solid #ddd;
    padding:3px;
    background: #eee url(../images/bggrad1.png) top left repeat-x;
}
div.view div.header.service div.context-links a:hover{
    background: #eee url(../images/bggrad1.png) -10px left repeat-x;
}
div.view div.header.service a.activity{
}
/* ACTION BUTTONS */

.buttons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 5px;
}

div.dialog table+div.buttons{
    border-top:0;
}
div.dialog div.formtitle + table{
    border-top:0;
}
div.dialog div.formtitle + h3{
    border-top:0;
}
div.dialog h3 + table{
    border-top:0;
}
div.dialog table+h3{
    border-top:0;
}

.buttons input.delete,.buttons input.edit,.buttons input.save,.buttons input.list {
    background: #fff;
    border: 0;
    color: #333;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    
    margin-left: 3px;
    overflow: visible;
    padding: 3px 6px;

    background-color: #fcfcfc;
    border: 1px solid #ccc;

}
.buttons input.delete {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    background: transparent url(../images/skin/delete.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.edit {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    background: transparent url(../images/skin/pencil.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.save {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    background: transparent url(../images/skin/disk.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.list {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    background: transparent url(../images/skin/application_view_list.png) 5px 50% no-repeat;
    padding-left: 28px;
}
input.password{
    background:#eee;
}

.trendbuttonflat {
    background: transparent url(../images/trend-flat.png) 0px 50% no-repeat;
}
.trendbuttonup {
    background: transparent url(../images/trend-up.png) 0px 50% no-repeat;
}
.trendbuttondown {
    background: transparent url(../images/trend-down.png) 0px 50% no-repeat;
}

.lettergrade {
    font-weight:bold;
    font-size: 12px;
}

.topbar{
    height:45px;
    margin:0 0 0 0;
    padding: 2px 2px 2px 10px;
    font-size: 10pt;
    background: #fff;
}
.topbar div.logo{
    display:inline;
    float:left;
}
.topbar span.links{
    float:right;
}
.topbar span.links a{
    color:blue;
    text-decoration:underline;
    font-weight:normal;
}
.headright{
    float:left;
    margin: 4px;
    border: 1px solid #ddd;
    padding: 4px;
    background: #eee;
}
.headright.external{
    
}
div.footerVersion{
    color: #aaa;
    margin: 5px 20px;
    font-size:8pt;
    clear:both;
}
div.footerVersion span.num{
    font-weight:bold;
}
div.footerVersion span.desc{
    color: #aaa;
}

.footer {
    color: #888;
    font-size:8pt;
    margin: 5px 20px;
    clear:both;
}
.footer.additional a {
    color: #888;
    font-weight:normal;
    
}
.topbar .logininfo .user a{
    color:black;
    text-decoration:none;
}


.controllink{
    color: red;
    text-align: right;
    text-decoration: underline;
    font-weight: normal;    
}

/* SIDEBAR */
.sidebar{
    
    float: left;
    width:150px;
    margin:0 0 0 0;
    padding: 2px 2px 2px 10px;
}

.sidebar table.list td{
    padding:0
}
.sidebar table.list td.title{
    color:#808080;
    font-weight: bold;
    font-size:10pt;
    padding:5px 10px;
    background-color: azure;
}
.sidebar table.list a{
    display:block;
    padding:5px 10px;
}

/* COMMUNITY */
div.community{
    border:1px solid #ccc;
    padding:0;
    margin:10px 0 0 0;
}
div.community h4{
    text-align:center;
    padding: 5px;
    margin:0;
}
div.community ul{
    margin:0;
    padding:10px;
}
div.community ul li{
    list-style:none;
    margin:4px 0;
}

div.community ul li a{
    display:block;
    
    padding:3px;
    color: #555;
}
div.community ul li a:hover{
    background:#ddf;
}
div.community div.contexthelp{
    clear:both;
    
    border-bottom: 1px solid #ccc;
}
div.community div.contexthelp span.info{
    color: #F00;
    text-align:center;
    padding:4px;
    display:block;
}
div.community div.contexthelp a{
    display:block;
    color:blue;
    text-decoration:underline;
    font-weight:normal;
    
    padding:10px;
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    
}
div.community div.contexthelp a:hover{
    background:#ddf;
}

span.score {
    font-weight: bold;
    font-size: 12px;    
}

span.resourceName {

}
span.resourceDescription {
 
}

.barchart {
    width:400px;
}
.barchart table {
    margin: 0;
    border: 0;    
}
.barchart .label {
    width: 130px;
    line-height: 10px;
    padding: 1px;
    text-align: right;
    vertical-align: middle;
    color: #666666;
}
.barchart .pct {
    width: 30px;
    line-height: 10px;
    padding: 1px;
    text-align: left;
    vertical-align: middle;
    color: #aaa;
}
.barchart td.fill {
        background-color:#C4AA93;font:8pt Arial; padding:0;
}
.barchart td.area {
    background-color:#f5eee6;font:8pt Arial; padding:0;     
}
.barchart a:link,.barchart a:visited,.barchart a:hover {
    /*color: #666;*/
    font-weight: bold;
    text-decoration: none;
}

/* SCORECARD */

div.scorecard h2{
    margin: 10px 0;
    font-size:130%;
}
div.scorecard h1{
    margin: 10px 0 10px 0;

    font-weight:bold;
    font-size:150%;
}
div.scorecard h5{
    font-size:100%;
    font-weight:normal;
    color: #555;
    margin: 10px;
}
div.scorecard div.sectiondesc{
    margin: 0 0 10px 10px;
    
}
div.scorecard div.empty{
    color: #888;
    font-style:italic;
}
div.scorecard table{
    /*border:0;*/
}

/*div.scorecard h3{*/
    /*padding:5px 5px 5px 10px;*/
    /*font-size:100%;*/

    /*background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;*/
    /*color: #666;*/
/*}*/
/*div.scorecard h3.sub{*/
    /*background: #ddd;*/
    /*color: #999;*/
/*}*/
/*div.scorecard h3.section{*/
    /*font-style:italic;*/
    /*font-weight:normal;*/
/*}*/
/*div.scorecard div.section{*/
    /*padding:5px 5px 5px 15px;*/
    /*color: #666;*/
/*}*/

/*div.scorecard {*/
    /*width:600px;*/
/*}*/
/*div.scorecard div.header{*/
    /*padding:10px;*/
    /*background: #eee;*/
/*}*/
/*div.scorecard div.header.audit{*/
    /*background: #dfd;*/
/*}*/

/** process view */

div.timeplot-legend ul, div.timeplot-legend li{
    list-style:none;
    margin:0;
    padding:0;
    display:inline;
}
div.timeplot-legend li{
    display:inline;
    padding:2px;
    margin:3px;
}

/** activity summary **/
div.view.activitysummary td.summaryprimary{
    padding:0;
}
div.view.activitysummary td.summaryprimary a{
    display: block;
    padding:5px;
}
div.view.activitysummary td.summaryprimary a:hover{
    background: #ffa;
}